:root {
  --main-color: #009944;
  --main-bg: #fdfbf5;
}

.hide {
  display: none;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #fdfbf5;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
}
header {
  width: 100vw;
  height: 80px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header-box {
  display: flex;
  box-sizing: border-box;
  outline: 0.5px solid black;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.header-box img {
  width: auto;
  height: 44px;
}

.canvas {
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
  position: relative;
  overflow: hidden;
}

.canvas img {
  position: absolute;
  object-fit: cover;
}

.receipt {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 256px;
  height: 536px;
  background-color: var(--main-bg);
  outline: 0.5px solid black;
  display: flex;
  flex-direction: column;
  padding: 32px 40px;
  font-size: 7pt;
  z-index: 1;
}

.receipt .logo {
  width: 100%;
  height: 44px;
  background-image: url("../img/Logo@3x.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.area1 {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 200%;
  font-size: 8pt;
}
.area1 p:first-child {
  font-size: 10pt;
  font-weight: 500;
}
.receipt-date {
  margin-top: 12px;
}
.changedata-container {
  width: 100%;
  height: fit-content;
  margin: 12px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 12px 0;
}

.main-title {
  font-size: 16pt;
  font-weight: 700;
  transition: all 0.5s;
}
.sub-title-container {
  margin-top: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sub-title {
  font-size: 12pt;
  font-weight: 600;
  transition: all 0.5s;
}
.explanatory-text {
  margin-top: 12px;
  line-height: 140%;
  transition: all 0.5s;
}
.price-container {
  display: flex;
  flex-wrap: wrap;
  line-height: 180%;
  padding-bottom: 12px;
  border-bottom: 1px solid black;
  margin-bottom: 12px;
}
.price-container p {
  width: 50%;
}
.canvas-text {
  position: absolute;
  height: 204px;
  top: 71.4%;
  left: 4%;
  z-index: 1;
}

.text {
  width: fit-content;
  height: 92px;
  padding: 12px;
  background-color: var(--main-bg);
  border: 0.5px solid black;
  line-height: 60px;
  font-size: 52pt;
  font-weight: 600;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
}

.about-left {
  width: 50%;
  height: 560px;
  outline: 0.5px solid black;
}
.about-right {
  width: 50%;
  height: 560px;
  outline: 0.5px solid black;
}

.about-down {
  width: 100%;
  height: 80px;
  outline: 0.5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12pt;
  font-weight: 600;
  transition: all 0.5s;
}
.about-buyby-area .about-down:hover {
  background-color: var(--main-color);
  color: var(--main-bg);
}
.about-midori-area .about-down:hover {
  background-color: var(--main-bg);
  color: var(--main-color);
}

.about-buyby-area {
  background-color: var(--main-bg);
}

.about-buyby-area .about-left .about-title {
  width: 100%;
  height: 80px;
  outline: 0.5px solid black;
  font-weight: 600;
  font-size: 12pt;
  line-height: 80px;
  padding-left: 32px;
  overflow: hidden;
}
.about-buyby-area .about-left .about-text {
  width: 100%;
  height: 480px;
  outline: 0.5px solid black;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.about-buyby-area .about-right {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container {
  width: 100%;
  height: 100%;
  border: 0.5px solid black;
  overflow: hidden;
}
.about-buyby-area .about-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.5s;
}
.about-buyby-area .about-right img:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}
.about-midori-area {
  background-color: var(--main-color);
  color: var(--main-bg);
}

.about-midori-area .about-left {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-midori-area .about-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  border: 0.5px solid black;
  transition: all 0.5s;
}
.about-midori-area .about-left img:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}
.about-midori-area .about-right .about-title {
  width: 100%;
  height: 80px;
  outline: 0.5px solid black;
  font-weight: 600;
  font-size: 12pt;
  line-height: 80px;
  padding-left: 32px;
  overflow: hidden;
}
.about-midori-area .about-right .about-text {
  width: 100%;
  height: 480px;
  outline: 0.5px solid black;
  padding: 28px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.text-big {
  width: 100%;
  font-size: 50pt;
  font-weight: 600;
  line-height: 140%;
  height: 70%;
  overflow: hidden;
}

.text-small {
  width: 100%;
  font-size: 12pt;
  line-height: 160%;
  height: 30%;
  overflow: hidden;
}

.works-container {
  width: 100%;
  height: 740px;
  outline: 0.5px solid black;
}
.works-title {
  width: 100%;
  height: 80px;
  outline: 0.5px solid black;
  line-height: 80px;
  padding-left: 32px;
  font-weight: 600;
  font-size: 12pt;
}
.works-article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 80px;
}
.article {
  height: 580px;
  outline: 0.5px solid black;
  transition: all 0.5s;
}
.article:hover {
  background-color: var(--main-color);
  color: var(--main-bg);
}
.article-img {
  height: 75%;
  padding: 32px;
}
.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.5s;
}
.article-img img:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}
.article-text {
  height: 25%;
  outline: 0.5px solid black;
  padding: 24px 32px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.article-title {
  font-weight: 600;
  font-size: 16pt;
  height: 2rem;
  overflow: hidden;
}
.article-detail {
  font-size: 10pt;
  overflow: hidden;
  height: 2.5rem;
}
.article-date {
  font-size: 8pt;
}

.works-down {
  grid-column: 1 / 4;
  outline: 0.5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12pt;
  font-weight: 600;
  transition: all 0.5s;
}
.works-down:hover {
  background-color: var(--main-color);
  color: var(--main-bg);
}

.contact-container {
  width: 100%;
  height: 156px;
  outline: 0.5px solid black;
  display: flex;
}
.sns {
  width: 50%;
  height: 100%;
  outline: 0.5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36pt;
  font-weight: 600;
  overflow: hidden;
}
.sns p {
  padding-top: 16pt;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  background-color: white;
  padding-bottom: 16pt;
}

.flow-text {
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
  font-size: 2.5rem;
  font-weight: bold;
  color: #9d9993;
}
.flow-text:hover {
  color: black;
}
.flow-text:hover .flow-wrap {
  animation-play-state: paused;
  cursor: pointer;
}
.flow-wrap {
  animation: textLoop 8s linear infinite;
  padding-right: 1.4881vw;
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.email {
  width: 50%;
  height: 100%;
  outline: 0.5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16pt;
  font-weight: 600;
}

.footer-text {
  width: 100%;
  height: 80px;
  background-color: var(--main-color);
  color: var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8pt;
}
